
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative; 
  
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box input, select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

/*###############CHANGED###############e*/
.user-details .input-box input:focus{
  border-color: #9b59b6;
  
}
#gendert:focus{
   border: 1px solid #9b59b6;

}
.hide{
  color:red;
}

 #gender{
    height: 45px;
  width: 100%;
  /*outline: none;*/
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 2px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

 .container .content  .btn{
    border:none;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align-:center;
    color: #fff;
    background: #71b7e6;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1); 
    transition: all 0.1s ease; 
    
  }

  .conatainer .content .btn:hover{ 
    opacity: 0.8;
    background-color: green;
    border: green;
 }

#btn:hover{ 
    background-color: green;
    border: green;
 }
/*##########CHANGED CENTER ############*/
.login-signup{
  text-align:center;
}